* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Footer container */
footer {
  margin-top: auto; /* Force le footer à se placer en bas */
  background-color: #333; /* Couleur sombre */
  color: white;
  padding: 20px 0;
  text-align: center; /* Centrer le texte */
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile en haut du footer */
}

/* Container pour les liens de contact */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Liens de contact */
.contact-links {
  display: flex;
  gap: 20px; /* Espacement entre les liens */
  margin-top: 10px;
}

/* Style des liens de contact */
.contact-link {
  color: white;
  text-decoration: none; /* Pas de soulignement */
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #555;
  transition: background-color 0.3s ease;
}

.contact-link:hover {
  background-color: #777; /* Changer la couleur au survol */
}

/* Icônes */
.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px; /* Espacement entre l'icône et le texte */
}